global:
  oss:
    bucket: &default-oss-bucket "arcadia"
  ## @param global.defaultVectorStoreType Defines the default vector database type, currently `chroma` and `pgvector` are available
  ## When the option is `chroma`, it needs `chromadb.enabled` to be `true` as well to work.
  ## When the option is `pgvector`, it needs `postgresql.enabled` to be `true` as well to work.
  defaultVectorStoreType: pgvector

# @section controller is used as the core controller for arcadia
# @param image Image to be used
# @param imagePullPolcy ImagePullPolicy
# @param resources Resources to be used
controller:
  loglevel: 3
  image: kubeagi/arcadia:latest
  imagePullPolicy: IfNotPresent
  resources:
    limits:
      cpu: "1"
      memory: 1024Mi
    requests:
      cpu: 10m
      memory: 64Mi

# @section graphql and bff server
# related project: https://github.com/kubeagi/arcadia/tree/main/apiserver
apiserver:
  bingKey: c30e4d7f3ec24c31a489f883616844b5
  loglevel: 3
  image: kubeagi/arcadia:latest
  enableplayground: false
  port: 8081
  ingress:
    enabled: true
    path: kubeagi-apis
    host: portal.<replaced-ingress-nginx-ip>.nip.io
  oidc:
    enabled: true
    clientID: bff-client
    clientSecret: 61324af0-1234-4f61-b110-ef57013267d6
    issuerURL: https://portal.<replaced-ingress-nginx-ip>.nip.io/oidc
    masterURL: https://k8s.<replaced-ingress-nginx-ip>.nip.io

# @section portal for arcadia operation console
opsconsole:
  enabled: true
  kubebbEnabled: true
  image: kubeagi/ops-console:latest
  ingress:
    path: kubeagi-portal-public
    host: portal.<replaced-ingress-nginx-ip>.nip.io
  
# @section portal for arcadia GPT store
agentportal:
  enabled: true
  kubebbEnabled: true
  image: kubeagi/agent-portal:latest
  ingress:
    path: ""
    host: gpts.<replaced-ingress-nginx-ip>.nip.io

# @section fastchat is used as fastchat configurations for arcadia
fastchat:
  enabled: true
  image:
    repository: kubeagi/arcadia-fastchat
    tag: v0.2.36
  ingress:
    enabled: true
    host: fastchat-api.<replaced-ingress-nginx-ip>.nip.io

# @section minio is used as default Object-Storage-Service for arcadia
minio:
  image:
    repository: kubeagi/minio
    tag: RELEASE.2023-02-10T18-48-39Z
  mode: standalone
  rootUser: "admin"
  rootPassword: "Passw0rd!"
  persistence:
    enabled: true
    storageClass: "standard"
    size: 30Gi
  ingress:
    enabled: true
    api:
      enabled: true
      insecure: false
      port: 9000
      host: minio-api.<replaced-ingress-nginx-ip>.nip.io
    console:
      enabled: false
      port: 9001
      host: minio-console.<replaced-ingress-nginx-ip>.nip.io
    cert:
      ipAddresses:
      - <replaced-ingress-nginx-ip>
      dnsNames:
      - minio-api.<replaced-ingress-nginx-ip>.nip.io
      - minio-console.<replaced-ingress-nginx-ip>.nip.io
  buckets:
    # Name of the bucket
    - name: *default-oss-bucket
      # Policy to be set on the
      # bucket [none|download|upload|public|custom]
      # if set to custom, customPolicy must be set.
      policy: "none"
      # set versioning for
      # bucket [true|false]
      versioning: false
      # set objectlocking for
      # bucket [true|false] NOTE: versioning is enabled by default if you use locking
      objectlocking: false

# @section dataprocess is used to configure data processing service
# Related project: https://github.com/kubeagi/arcadia/tree/main/data-processing
dataprocess:
  enabled: true
  image: kubeagi/data-processing:latest
  port: 28888
  config:
    llm:
      qa_retry_count: '2'

# @section postgresql is used to configure postgresql service
# Posgresql service will be used in two parts:
# - dataprocessing
# - llm application
# - used as vector store with pgvector enabled(Recommended)
postgresql:
  enabled: true
  global:
    storageClass: "standard"
    postgresql:
      auth:
        # default username and password
        username: "admin"
        password: "Passw0rd!"
        # default database
        database: "arcadia"
  # image configurations
  image:
    registry: docker.io
    repository: kubeagi/postgresql
    tag: 16.1.0-debian-11-r18-pgvector-v0.5.1
    pullPolicy: IfNotPresent
  primary:
    initdb:
      scriptsConfigMap: pg-init-data

# @section chromadb is used to deploy a chromadb instance
chromadb:
  enabled: false
  image:
    repository: kubeagi/chromadb
  chromadb:
    apiVersion: "0.4.18"
    auth:
      enabled: false
    serverHttpPort: 8000
    dataVolumeStorageClass: "standard"
    dataVolumeSize: "1Gi"

# @section ray is a unified framework for scaling AI and Python applications.In kubeagi,we use ray for distributed inference
ray:
  # clusters provided by ray
  # For more information on cluster configurations,please refer to http://kubeagi.k8s.com.cn/docs/Configuration/DistributedInference/run-inference-using-ray
  clusters:
    - name: 3090-2-GPUs
      headAddress: raycluster-kuberay-head-svc.kuberay-system.svc:6379
      pythonVersion: 3.9.18
      dashboardHost: raycluster-kuberay-head-svc.kuberay-system.svc:8265
