apiVersion: v1
data:
  config: |
    systemDatasource:
      apiGroup: arcadia.kubeagi.k8s.com.cn/v1alpha1
      kind: Datasource
      name: '{{ .Release.Name }}-minio'
      namespace: '{{ .Release.Namespace }}'
{{- if .Values.postgresql.enabled }}
    relationalDatasource:
      apiGroup: arcadia.kubeagi.k8s.com.cn/v1alpha1
      kind: Datasource
      name:  {{ .Release.Name }}-postgresql
      namespace: {{ .Release.Namespace }}
{{- end }}
{{- if gt (len .Values.ray.clusters) 0 }}
    rayClusters:
      {{- range .Values.ray.clusters }}
      - name: {{ .name }}
        headAddress: {{ .headAddress }}
        pythonVersion: {{ .pythonVersion }}
        dashboardHost: {{ .dashboardHost }}
      {{- end }}
{{- end }}
    gateway:
      apiServer: 'http://{{ .Release.Name }}-fastchat.{{ .Release.Namespace }}.svc.cluster.local:8000/v1'
      controller: 'http://{{ .Release.Name }}-fastchat.{{ .Release.Namespace }}.svc.cluster.local:21001'
{{- if .Values.fastchat.ingress.enabled }}
      externalApiServer: 'http://{{ .Values.fastchat.ingress.host }}/v1'
{{- end }}
    vectorStore:
      apiGroup: arcadia.kubeagi.k8s.com.cn/v1alpha1
      kind: VectorStore
{{- if and (.Values.chromadb.enabled) (eq .Values.global.defaultVectorStoreType "chroma") }}
      name: '{{ .Release.Name }}-vectorstore'
{{- end }}
{{- if and (.Values.postgresql.enabled) (eq .Values.global.defaultVectorStoreType "pgvector") }}
      name: '{{ .Release.Name }}-pgvector-vectorstore'
{{- end }}
      namespace: '{{ .Release.Namespace }}'

    #streamlit:
    #  image: 172.22.96.34/cluster_system/streamlit:v1.29.0
    #  ingressClassName: portal-ingress
    #  host: portal.172.22.96.136.nip.io
    #  contextPath: /arcadia
  dataprocess: |
    llm:
      qa_retry_count: {{ .Values.dataprocess.config.llm.qa_retry_count }}
{{- if .Values.postgresql.enabled }}
    postgresql:
      host: {{ .Release.Name }}-postgresql.{{ .Release.Namespace }}.svc.cluster.local
      port: {{ .Values.postgresql.containerPorts.postgresql }}
      user: {{ .Values.postgresql.global.postgresql.auth.username }}
      password: {{ .Values.postgresql.global.postgresql.auth.password }}
      database: {{ .Values.postgresql.global.postgresql.auth.database }}
{{- end }}
kind: ConfigMap
metadata:
  labels:
    control-plane: {{ .Release.Name }}-arcadia
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
