---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: llmchains.chain.arcadia.kubeagi.k8s.com.cn
spec:
  group: chain.arcadia.kubeagi.k8s.com.cn
  names:
    kind: LLMChain
    listKind: LLMChainList
    plural: llmchains
    singular: llmchain
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: LLMChain is the Schema for the LLMChains API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LLMChainSpec defines the desired state of LLMChain
            properties:
              creator:
                description: Creator defines datasource creator (AUTO-FILLED by webhook)
                type: string
              description:
                description: Description defines datasource description
                type: string
              displayName:
                description: DisplayName defines datasource display name
                type: string
              input:
                properties:
                  llm:
                    properties:
                      apiGroup:
                        description: kubebuilder:default="arcadia.kubeagi.k8s.com.cn"
                          APIGroup is the group for the resource being referenced.
                        enum:
                        - arcadia.kubeagi.k8s.com.cn
                        type: string
                      kind:
                        description: kubebuilder:default="LLM" Kind is the type of
                          resource being referenced
                        enum:
                        - LLM
                        type: string
                      name:
                        description: Name is the name of resource being referenced
                        type: string
                    required:
                    - apiGroup
                    - kind
                    type: object
                  prompt:
                    properties:
                      apiGroup:
                        description: kubebuilder:default="prompt.arcadia.kubeagi.k8s.com.cn"
                          APIGroup is the group for the resource being referenced.
                        enum:
                        - prompt.arcadia.kubeagi.k8s.com.cn
                        type: string
                      kind:
                        description: Kind is the type of resource being referenced
                        type: string
                      name:
                        description: Name is the name of resource being referenced
                        type: string
                    required:
                    - apiGroup
                    type: object
                required:
                - llm
                - prompt
                type: object
              memory:
                description: 记忆相关参数
                properties:
                  maxTokenLimit:
                    description: 能记住的最大 token 数
                    type: integer
                type: object
              output:
                properties:
                  apiGroup:
                    description: APIGroup is the group for the resource being referenced.
                      If APIGroup is not specified, the specified Kind must be in
                      the core API group. For any other third-party types, APIGroup
                      is required.
                    type: string
                  kind:
                    default: Input
                    description: Kind is the type of resource being referenced
                    type: string
                  name:
                    description: Name is the name of resource being referenced
                    type: string
                type: object
            required:
            - input
            - output
            type: object
          status:
            description: LLMChainStatus defines the observed state of LLMChain
            properties:
              conditions:
                description: Conditions of the resource.
                items:
                  description: A Condition that may apply to a resource.
                  properties:
                    lastSuccessfulTime:
                      description: LastSuccessfulTime is repository Last Successful
                        Update Time
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: LastTransitionTime is the last time this condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: A Message containing details about this condition's
                        last transition from one status to another, if any.
                      type: string
                    reason:
                      description: A Reason for this condition's last transition from
                        one status to another.
                      type: string
                    status:
                      description: Status of this condition; is it currently True,
                        False, or Unknown
                      type: string
                    type:
                      description: Type of this condition. At most one of each condition
                        type may apply to a resource at any point in time.
                      type: string
                  required:
                  - lastTransitionTime
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: ObservedGeneration is the last observed generation.
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
