---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: applications.arcadia.kubeagi.k8s.com.cn
spec:
  group: arcadia.kubeagi.k8s.com.cn
  names:
    kind: Application
    listKind: ApplicationList
    plural: applications
    singular: application
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Application is the Schema for the applications API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ApplicationSpec defines the desired state of Application
            properties:
              chatTimeoutSecond:
                default: 60
                description: ChatTimeoutSecond is the timeout of chat
                minimum: 1
                type: number
              creator:
                description: Creator defines datasource creator (AUTO-FILLED by webhook)
                type: string
              description:
                description: Description defines datasource description
                type: string
              displayName:
                description: DisplayName defines datasource display name
                type: string
              docNullReturn:
                description: DocNullReturn is the return statement when the query
                  result is empty from the retriever. If this field is not empty and
                  no result is returned by retriever, the app chat api will return
                  this value directly, without call LLM.
                type: string
              enableUploadFile:
                default: true
                type: boolean
              icon:
                description: Icon base64 image icon
                type: string
              isPublic:
                description: IsPublic Set whether the current application provides
                  services to the public
                type: boolean
              isRecommended:
                description: IsRecommended Set whether the current application is
                  recognized as recommended to users
                type: boolean
              nodes:
                description: Nodes
                items:
                  properties:
                    description:
                      type: string
                    displayName:
                      type: string
                    name:
                      type: string
                    nextNodeName:
                      items:
                        type: string
                      type: array
                    ref:
                      properties:
                        apiGroup:
                          description: APIGroup is the group for the resource being
                            referenced. If APIGroup is not specified, the specified
                            Kind must be in the core API group. For any other third-party
                            types, APIGroup is required.
                          type: string
                        kind:
                          description: Kind is the type of resource being referenced
                          type: string
                        name:
                          description: Name is the name of resource being referenced
                          type: string
                        namespace:
                          description: Namespace is the namespace of resource being
                            referenced
                          type: string
                      required:
                      - kind
                      - name
                      type: object
                  type: object
                type: array
              prologue:
                description: prologue, show in the chat top
                type: string
              showNextGuide:
                type: boolean
              showRespInfo:
                type: boolean
              showRetrievalInfo:
                type: boolean
            required:
            - nodes
            type: object
          status:
            description: ApplicationStatus defines the observed state of Application
            properties:
              conditions:
                description: Conditions of the resource.
                items:
                  description: A Condition that may apply to a resource.
                  properties:
                    lastSuccessfulTime:
                      description: LastSuccessfulTime is repository Last Successful
                        Update Time
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: LastTransitionTime is the last time this condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: A Message containing details about this condition's
                        last transition from one status to another, if any.
                      type: string
                    reason:
                      description: A Reason for this condition's last transition from
                        one status to another.
                      type: string
                    status:
                      description: Status of this condition; is it currently True,
                        False, or Unknown
                      type: string
                    type:
                      description: Type of this condition. At most one of each condition
                        type may apply to a resource at any point in time.
                      type: string
                  required:
                  - lastTransitionTime
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: ObservedGeneration is the last observed generation.
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
