---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: versioneddatasets.arcadia.kubeagi.k8s.com.cn
spec:
  group: arcadia.kubeagi.k8s.com.cn
  names:
    kind: VersionedDataset
    listKind: VersionedDatasetList
    plural: versioneddatasets
    singular: versioneddataset
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.dataset.name
      name: dataset
      type: string
    - jsonPath: .spec.version
      name: version
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VersionedDataset is the Schema for the versioneddatasets API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VersionedDatasetSpec defines the desired state of VersionedDataset
            properties:
              dataset:
                description: Dataset which this `VersionedDataset` belongs to
                properties:
                  apiGroup:
                    description: APIGroup is the group for the resource being referenced.
                      If APIGroup is not specified, the specified Kind must be in
                      the core API group. For any other third-party types, APIGroup
                      is required.
                    type: string
                  kind:
                    description: Kind is the type of resource being referenced
                    type: string
                  name:
                    description: Name is the name of resource being referenced
                    type: string
                  namespace:
                    description: Namespace is the namespace of resource being referenced
                    type: string
                required:
                - kind
                - name
                type: object
              fileGroups:
                description: FileGroups included in this `VersionedDataset` Grouped
                  by Datasource
                items:
                  properties:
                    paths:
                      description: Paths defines the detail paths to get objects from
                        above datasource
                      items:
                        type: string
                      type: array
                    source:
                      description: From defines the source which provides this `File`
                      properties:
                        apiGroup:
                          description: APIGroup is the group for the resource being
                            referenced. If APIGroup is not specified, the specified
                            Kind must be in the core API group. For any other third-party
                            types, APIGroup is required.
                          type: string
                        kind:
                          description: Kind is the type of resource being referenced
                          type: string
                        name:
                          description: Name is the name of resource being referenced
                          type: string
                        namespace:
                          description: Namespace is the namespace of resource being
                            referenced
                          type: string
                      required:
                      - kind
                      - name
                      type: object
                  type: object
                type: array
              inheritedFrom:
                description: Which version of the dataset it inherits from
                type: string
              released:
                default: 0
                enum:
                - 0
                - 1
                type: integer
              version:
                description: Version
                type: string
            required:
            - dataset
            - released
            - version
            type: object
          status:
            description: VersionedDatasetStatus defines the observed state of VersionedDataset
            properties:
              conditions:
                description: Conditions of the resource.
                items:
                  description: A Condition that may apply to a resource.
                  properties:
                    lastSuccessfulTime:
                      description: LastSuccessfulTime is repository Last Successful
                        Update Time
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: LastTransitionTime is the last time this condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: A Message containing details about this condition's
                        last transition from one status to another, if any.
                      type: string
                    reason:
                      description: A Reason for this condition's last transition from
                        one status to another.
                      type: string
                    status:
                      description: Status of this condition; is it currently True,
                        False, or Unknown
                      type: string
                    type:
                      description: Type of this condition. At most one of each condition
                        type may apply to a resource at any point in time.
                      type: string
                  required:
                  - lastTransitionTime
                  - reason
                  - status
                  - type
                  type: object
                type: array
              files:
                description: Files record the process and results of file processing
                  for each data source
                items:
                  properties:
                    apiGroup:
                      description: APIGroup is the group for the resource being referenced.
                        If APIGroup is not specified, the specified Kind must be in
                        the core API group. For any other third-party types, APIGroup
                        is required.
                      type: string
                    kind:
                      description: Kind is the type of resource being referenced
                      type: string
                    name:
                      description: Name is the name of resource being referenced
                      type: string
                    namespace:
                      description: Namespace is the namespace of resource being referenced
                      type: string
                    status:
                      items:
                        properties:
                          checksum:
                            description: Checksum defines the checksum of the file
                            type: string
                          errMessage:
                            description: ErrMessage defines the error message
                            type: string
                          lastUpdateTime:
                            description: The last time this condition was updated.
                            format: date-time
                            type: string
                          path:
                            description: Path defines the detail path to get objects
                              from above datasource
                            type: string
                          phase:
                            description: Phase defines the process phase
                            type: string
                        type: object
                      type: array
                  required:
                  - kind
                  - name
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
